<h2>{{monkey.species}}</h2>
<a href="/">Home</a> |
<a href="/{{monkey.id}}/edit">Edit this monkey</a> |
<a href="/{{monkey.id}}/delete">Delete this monkey</a>
<div>
  {{monkey.description}}
</div>
<img src="{{monkey.image_url}}">
